/* body > * { background-color: rgba(255,0,0,0.5); } body > * > * { background-color: rgba(255,255,0,0.5); } body > * > * > * { background-color: rgba(0,255,0,0.5); } body > * > * > * { background-color: rgba(255,0,255,0.5); } */
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/robotobold.woff') format('woff'),
  url('../fonts/robotobold.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/robotomedium.woff2') format('woff2'),
  url('../fonts/robotomedium.woff') format('woff');
}


body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  color: #283136;
  background-color: #ffffff;
}

.visually-hidden {
  visibility: hidden;
}

.page-title {
  font-size: 55px;
  text-align: center;
  color: #000000;
  background-color: #eeeeef;
}

header {
  background-color: #e1e1e1;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color: #e1e1e1;
  text-transform: uppercase;
}

.site-navigation,
.basket {
  list-style: none;
}

.site-navigation a,
.basket a {
  color: #000000;
  background-color: #e1e1e1;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket a:hover,
.basket a:focus {
  color: #fb565a
}

.info-slogan {
  background-color: #e1e1e1;
  background-image: url("../img/slide-1.png");
  background-position: right;
  background-size: 698px 413px;
  background-repeat: no-repeat;
}

.main-slogan {
  width: 376px;
  font-size: 55px;
  font-weight: bold;
  line-height: 55px;
  letter-spacing: normal;
  color: #000000;
  background-color: ##e1e1e1;
}

.servis-list {
  list-style: none;
}

.servis-list h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-big {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
  background-color: #ffffff;
}

.servis-item::before {
  background-image: url("../img/illustration-1.png");
  background-repeat: no-repeat;
  content: "";
  width: 300px;
  height: 146px;
  display: block;
}

.servis-item-application::before {
  background-image: url("../img/illustration-2.png");
}

.servis-item-presentation::before {
  background-image: url("../img/illustration-3.png");
}

.order-info::before {
 background-image: url("../img/nerds-illustration.png");
}

.order-info {
  font-weight: bold;
  text-transform: uppercase;
}

.percent {
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
  width: 93px;
}

.projects a {
  opacity: 0.2;
}

.projects a:hover,
.projects a:focus {
  opacity: 1;
}

.contacts-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-transform: uppercase;
}

.address,
.address a {
  font-size: 16px;
  color: #666666;
  background-color: #ffffff;
}

.write-us h2 {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.write-us-item label {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.button-green {
  background-color: #00ca74;
}

.button-yellow {
  background-color: #efc84a;
}

.social-wrap ul {
  list-style: none;
}

.social-wrap {
  text-align: left;
  color: #000000;
  background-color: #ffffff;
}

.footer-slogan {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.social-button {
  color: #000000;
  background-color: #ffffff;
}

.footer-promo {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  background-color: #ffffff;
}

.filter-option {
  font-size: 16px;
  color: #283136;
  list-style: none;
}

.catalog-filters {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
f}

.sort-filters li {
  list-style: none;
}

.sort-filters a {
  list-style: none;
  color: #000000;
  background-color: #ffffff;
  list-style: none;
  font-size: 14px;
  text-transform: uppercase;
}

.sort-filters a:hover,
.sort-filters a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-list li {
  list-style: none;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.main-header {
margin-bottom: 85px;
}

.main-navigation {
  display: flex;

}

.main-header-logo {
  width: 160px;
  height: 65px;

}

.site-navigation {
  margin: 0;
  padding: 0;
  width: 440px;
  list-style: none;
}

.basket {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation-wrapper {
  width: 1140px;
  margin-bottom: 85px;

  background-color: #e1e1e1;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.info-slogan {
  margin: 0;
  padding: 0;
  list-style: none;
}

.servis-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}

.servis-item {
  width: 300px;
}

.service {
  margin-bottom: 160px;
}

.about {
  display: flex;
  margin: 0;
  padding: 0;
}

.about-left-block {
width: 650px;
margin-right: 149px;
}

.about-right-block {
  width: 360px;
}

.projects {
  display: flex;
  justify-content: space-between;
}
