 /* roboto-regular - latin_cyrillic */
 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: local('Roboto'), local('Roboto-Regular'),
     url('../fonts/roboto.woff2') format('woff2'),
     url('../fonts/roboto.woff') format('woff');
 }

 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   src: local('Roboto'), local('Roboto-Regular'),
     url('../fonts/robotobold.woff') format('woff2'),
     url('../fonts/robotobold.woff2') format('woff');
 }

 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   src: local('Roboto'), local('Roboto-Regular'),
     url('../fonts/robotomedium.woff2') format('woff2'),
     url('../fonts/robotomedium.woff') format('woff');
 }


 body {
   margin: 0;

   font-family: 'Roboto', Arial, sans-serif;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: normal;
   color: #283136;
   background-color: #ffffff;
   min-width: 1200px;
 }

 .visually-hidden:not(:focus):not(:active),
 input[type="checkbox"].visually-hidden,
 input[type="radio"].visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

 .page-title {
   font-size: 55px;
   text-align: center;
   line-height: 55px;
   color: #000000;
   width: auto;
   padding: 0;
   margin: 0;
   padding-bottom: 110px;
   padding-top: 60px;
   padding-left: 20px;
   padding-right: 20px;
 }

 .page-title-whole {
   background-color: #f1f1f1;
 }


 a {
   text-decoration: none;
 }

 .main-navigation {
   font-size: 16px;
   line-height: 30px;
   color: #000000;
   text-transform: uppercase;
   padding: 0;
   margin: 0;
   display: flex;
   width: auto;
   align-items: flex-start;
 }

 .site-navigation,
 .basket {
   list-style: none;

 }

 .site-navigation a,
 .basket a {
   color: #000000;

 }

 .site-navigation a:hover {
   color: #fb565a
 }

 .site-navigation a:active {
   opacity: 0.3;
 }

 .slider {
   background-color: #f1f1f1;
   position: relative;
 }

 .slider-controls span {
   position: relative;
   display: inline-block;
   width: 18px;
   height: 18px;
   margin-right: 16px;
   border-radius: 50%;
   cursor: pointer;
 }

 .slider-controls span::after {
   content: "";
   width: 18px;
   height: 18px;

   background: #ffffff;
   position: absolute;
   top: 8px;
   left: 8px;
   z-index: 1;
   border-radius: 50%;
 }

 .slider-controls .active::before {
   content: "";

   position: absolute;
   left: 17px;
   top: 17px;
   z-index: 2;

   width: 4px;
   height: 4px;
   margin: -4px;

   background-color: inherit;
   border: 2px solid #c1c1c1;
   border-radius: 50%;
 }

 .slider-controls {
   position: absolute;
   left: 50%;
   bottom: 104px;
   z-index: 100;

   width: 160px;
   height: 18px;

   text-align: center;
   font-size: 0;
   transform: translateX(-50%);
 }


 .slider-list {
   margin: 0;
   padding: 0;

   list-style: none;
 }

 .slider-item {
   display: none;
   padding: 60px 0 80px 0;
   margin-bottom: 80px;
 }

 .slider-item:nth-child(1) {
   display: block;
 }

 .slider-item:nth-child(1) {
   background-image: url("../img/slide-1.png");
   background-repeat: no-repeat;
   background-position: 93% 0px;
 }

 .slider-item:nth-child(2) {
   background-image: url("../img/slide-2.png");
   background-repeat: no-repeat;
   background-position: 100% 0;
 }

 .slider-item:nth-child(3) {
   background-image: url("../img/slide-3.png");
   background-repeat: no-repeat;
   background-position: 100% 20px;
 }

 .slider-item {
   display: none;
 }

 .slider-item:nth-child(1) {
   display: block;
 }

 .slider-item h3 {
   max-width: 600px;
   margin: 0;
   margin-bottom: 27px;
   font-size: 55px;
   line-height: 55px;
   font-weight: 500;
 }

 .slider-item p {
   max-width: 430px;
   margin: 0;
   margin-bottom: 40px;
 }

 .button {
   display: block;
   width: 240px;
   padding: 15px 0;
   font: inherit;
   font-size: 16px;
   line-height: 18px;
   color: #ffffff;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;

   background-color: #fb565a;
   border-radius: 3px;
   border: none;
 }

 .button:hover,
 .button:focus {
   background-color: #e74246;
 }

 .button:active {
   color: rgba(255, 255, 255, 0.3);

   background-color: #d7373b;
   box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
 }

 .servis-list h3 {
   font-size: 24px;
   font-weight: bold;
   text-transform: uppercase;
   margin-top: 30px;
   margin-bottom: 10px;
 }

 .about-left-block p {
   margin: 0;
 }

 .about-big {
   font-size: 45px;
   font-weight: 500;
   line-height: 1;
   color: #000000;
   background-color: #ffffff;
   margin: 0;
   padding-bottom: 35px;

 }

 .servis-item::before {
   background-image: url("../img/illustration-1.png");
   background-repeat: no-repeat;
   background-color: #a6a6a6;
   content: "";
   width: 300px;
   height: 146px;
   display: block;
 }

 .servis-item-application::before {
   background-image: url("../img/illustration-2.png");
 }

 .servis-item-presentation::before {
   background-image: url("../img/illustration-3.png");
 }

 .about-right-block-image {
   background-image: url("../img/nerds-illustration.png");
   background-repeat: no-repeat;
   width: 360px;
   height: 208px;
 }

 .order-info {
   font-weight: bold;
   text-transform: uppercase;
   padding-top: 37px;
   padding-left: 0px;
 }

 .percent {
   font-size: 45px;
   font-weight: bold;
   line-height: 45px;
   width: 93px;
 }

 .percent td {
   width: 119px;
   padding-bottom: 16px;
 }

 .table-words td {
   line-height: 18px;
   font-size: 16px;
 }

 .per {
   font-size: 26px;
   top: -15px;
   left: -2px;
 }

 .table {
   border-collapse: separate;
 }

 caption {
   margin-bottom: 37px;
 }

 .projects a {
   position: relative;
   display: flex;
   align-items: flex-start;
 }

 .projects-items img {
   opacity: 0.2;
 }

 .projects-items-boro::before {
   content: "";
   position: absolute;
   bottom: 21px;
   left: -47px;
   height: 52px;
   width: 2px;
   background-color: #283136;
   opacity: 0.2;
 }

 .projects-items-pink::before {
   content: "";
   position: absolute;
   bottom: 21px;
   left: -56px;
   height: 52px;
   width: 2px;
   background-color: #283136;
   opacity: 0.2;
 }

 .projects-items-mish::before {
   content: "";
   position: absolute;
   bottom: 21px;
   left: -63px;
   height: 52px;
   width: 2px;
   background-color: #283136;
   opacity: 0.2;
 }

 .projects .container {
   display: flex;
   justify-content: space-between;
 }

 .projects-items img:hover,
 .projects-items img:focus {
   opacity: 1;
 }

 .projects-items img:active {
   opacity: 0.1;
 }

 .contacts-title {
   font-size: 18px;
   font-weight: bold;
   line-height: 30px;
   text-transform: uppercase;
   margin: 0;
 }

 .address,
 .address a {
   font-size: 16px;
   color: #666666;
   background-color: #ffffff;
   margin-bottom: 38px;
 }

 .address p {
   margin-bottom: 10px;
   margin-top: 20px;
   line-height: 20px;
 }

 .write-us h2 {
   font-size: 45px;
   line-height: 45px;
   color: #000000;
   background-color: #ffffff;
   font-weight: bold;
 }

 .write-us-item label {
   font-size: 16px;
   font-weight: bold;
   line-height: 18px;
 }


 .button-red {
   background-color: #fb565a;
   width: 160px;
 }

 .button-green {
   background-color: #00ca74;
   width: 160px;
 }

 .button-green:hover,
 .button-green:active {
   background-color: #00bc6c;
 }

 .button-yellow {
   background-color: #efc84a;
   width: 160px;
 }

 .button-yellow:hover,
 .button-yellow:active {
   background-color: #eab534;
 }

 .footer-slogan {
   font-size: 36px;
   font-weight: bold;
   display: block;
   margin-top: 10px;
   margin-bottom: 16px;
 }

 .social-button {
   color: #000000;
   background-color: #ffffff;
 }

 .footer-promo {
   font-size: 16px;
   line-height: 22px;
   color: #444444;
   background-color: #ffffff;
 }

 .filter-option {
   font-size: 16px;
   color: #283136;
   list-style: none;
 }

 .filter-input-radio+label:hover::before,
 .filter-input-radio+label:focus::before {
   border: 4px solid #4d4d4d;
 }

 .filter-input-radio:checked+label:hover::after,
 .filter-input-radio:checked+label:focus::after {
   background-color: #4d4d4d;
 }

 .filter-input-checkbox+label:hover::before,
 .filter-input-checkbox+label:focus::before {
   opacity: 1;
 }

 .filter-input-checkbox:checked+label:hover::before,
 .filter-input-checkbox:checked+label:focus::before {
   opacity: 1;
 }

 .filter-option:disabled {
   color: rgba(40, 49, 54, 0.3);
 }

 .catalog-filters {
   font-size: 18px;
   font-weight: bold;
   line-height: 30px;
   color: #000000;
   background-color: #ffffff;
   text-transform: uppercase;
   margin-bottom: 27px;
 }

 .sort-filters li {
   list-style: none;
 }

 .sort-filters a {
   list-style: none;
   color: #000000;
   background-color: #ffffff;
   list-style: none;
   font-size: 14px;
   text-transform: uppercase;
   opacity: 0.3;
 }

 .sort-filters a:hover,
 .sort-filters a:focus {
   opacity: 0.6;
 }

 .sort-filters a:active {
   opacity: 1;
 }


 .filters-whole {
   display: flex;
   margin-bottom: 65px;
   margin-top: 33px;
   justify-content: center;
   align-items: center;
 }

 .cage {
   margin-bottom: 45px;
 }

 .cage h3 {
   margin-bottom: 15px;
 }

 .features h3 {
   margin-bottom: 0px;
 }

 .show-button {
   background-color: #f1f1f1;
   color: #000000;
   width: 260px;
 }

 .show-button:hover,
 .show-button:active {
   background-color: #dfdfdf;
 }

 .features {
   margin-bottom: 50px;
 }

 .sort-filters {
   display: flex;
   margin-left: auto;
   flex-wrap: wrap;
   margin-top: 10px;
 }

 .sort-filters li {
   margin-left: 26px;
 }

 .rise-low {
   display: flex;
   list-style: none;
   justify-content: space-between;
   margin-left: 50px;
   margin-top: 9px;
   width: 40px;
   box-sizing: border-box;
   padding: 0;
 }

 .rise,
 .low {
   opacity: 0.3;
 }

 .rise:hover,
 .low:hover {
   opacity: 0.6;
 }

 .rise:active,
 .low:active,
 .rise:focus,
 .low:focus {
   opacity: 1;
 }

 .rise {
   width: 11px;
   height: 10px;
   background-image: url("../img/icon-up-dir.svg");
   background-repeat: no-repeat;
   background-size: 10px 11px;
   background-position: 0 0;
   color: #000000;

 }

 .low {
   width: 11px;
   height: 10px;
   background-image: url("../img/icon-down-dir.svg");
   background-repeat: no-repeat;
   background-size: 10px 11px;
   background-position: 0 0;
   color: #000000;

 }

 .sort {
   /* margin-right: 222px; */
 }

 .cage ul,
 .features ul {
   padding: 0;
   margin-top: 15px;
 }

 .cage li,
 .features li {
   margin-bottom: 15px;
   padding-left: 35px;
 }

 .filter-option label {
   position: relative;
   display: block;
   cursor: pointer;
   user-select: none;
 }

 .filter-input-checkbox+label::before {
   content: "";
   position: absolute;
   width: 27px;
   height: 23px;
   left: -34px;
   top: 0px;
   background-image: url("../img/checkbox-off.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
   opacity: 0.4;
 }

 .filter-input-checkbox:checked+label::before {
   background-image: url("../img/checkbox-on.svg");
   opacity: 0.4;
 }

 .filter-input-radio+label::before {
   content: "";
   position: absolute;
   left: -34px;
   top: 0px;
   width: 16px;
   height: 16px;
   border: 4px solid #a6a6a6;
   border-radius: 50%;
 }

 .filter-input:disabled+label {
   color: #a6a6a6;
   opacity: 0.5;
 }

 .filter-input-radio:checked+label::after {
   content: "";
   position: absolute;
   top: 8px;
   left: -26px;
   width: 8px;
   height: 8px;
   background-color: #a6a6a6;
   border-radius: 50%;
 }

 .catalog-list li {
   list-style: none;
   margin-bottom: 65px;
 }

 .pagination-list {
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   margin: 0;
   margin-bottom: 60px;
   list-style: none;
 }

 .pagination-item {
   margin-right: 11px;

 }

 .pagination-item:last-child {
   margin-right: 0;
   width: 260px;
   text-transform: uppercase;
   text-align: center;
 }

 .pagination-item a {
   display: block;
   padding: 10px 19px;

   color: #000000;
   border: solid #eeeeee 1px;
   background-color: #eeeeee;
 }

 .pagination-item a:hover,
 .pagination-item a:focus {
   background-color: #dfdfdf;
 }

 .pagination-item a:active {
   background-color: #d5d5d5;
   color: rgba(0, 0, 0, 0.3);
 }

 .pagination-item-current a {
   color: #000000;

   background-color: #ffffff;
 }

 .pagination-item-current a:hover,
 .pagination-item-current a:focus,
 .pagination-item-current a:active {
   color: #000000;

   background-color: #ffffff;
 }

 .main-header {
   background-color: #f1f1f1;
   padding-top: 40px;
 }


 .main-header-logo {
   width: 183px;
   display: flex;
   padding-top: 10px;
 }

 .main-header-logo:focus,
 .main-header-logo:active {
   opacity: 0.3;
 }

 .site-navigation {
   display: flex;
   list-style: none;
   padding: 0;
   margin-left: 177px;
   flex-wrap: wrap;
   width: 660px;
   margin-bottom: 10px;
 }


 .basket {
   list-style: none;
   color: #000000;
   padding-left: 50px;
   position: relative;
   padding-top: 5px;
 }

 .basket:hover {
   color: #fb565a;
 }

 .basket:focus {
   opacity: 0.3;
 }

 .basket::before {
   content: "";
   position: absolute;
   top: 12px;
   left: 9px;
   width: 15px;
   height: 15px;
   background-image: url("../img/cart-icon.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
   opacity: 0.3;
 }

 .site-navigation a,
 .basket a {
   display: block;
   padding: 15px 25px;
   padding-right: 21px;
 }

 .main-navigation-wrapper {
   display: flex;
   width: 100%;
   margin-bottom: 85px;
   margin: 0;
   padding: 0;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   padding-top: 5px;
 }

 .container {
   width: 1160px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 20px;
   padding-right: 20px;
 }

 .main-navigation-wrapper .container {
   display: flex;
   justify-content: space-between;
 }

 .servis-list {
   display: flex;
   margin: 0;
   padding: 0;
   list-style: none;
   flex-wrap: wrap;

 }

 .servis-item:not(:nth-child(3n)) {
   margin-right: 100px;
 }

 .servis-item {
   width: 300px;
 }

 .service-inner {
   padding-bottom: 80px;
   position: relative;
 }

 .about {
   display: flex;
   padding-bottom: 50px;
   position: relative;
 }

 .about-left-block {
   width: 660px;
   margin-right: auto;
   margin-top: 75px;
 }

 .about-right-block {
   width: 362px;
   margin: 0;
   padding: 0;
   margin-top: 43px;
 }

 .projects {
   display: flex;
   flex-wrap: wrap;
   padding-bottom: 35px;
   padding-top: 44px;
   padding-left: 79px;
   margin-bottom: 90px;
   position: relative;
 }

 .projects-items-html {
   padding-top: 15px;
   padding-right: 96px;
 }

 .projects-items-boro {
   padding-top: 0;
   padding-right: 103px;
 }

 .projects-items-pink {
   padding-top: 18px;
   padding-right: 121px;
 }

 .projects-items-mish {
   padding-top: 7px;
 }

 .contacts-write-us {
   background-color: #ffffff;
   border: 1px;
   width: 319px;
   height: 307px;
   box-sizing: border-box;
   padding: 50px;
   position: absolute;
   top: 55px;
   margin: 0 auto;
 }

 .map {
   display: block;
   width: 1140px;
   margin: auto;
 }

 .main-footer {
   margin-top: 64px;
   margin-bottom: 70px;
 }

 .main-footer .container {
   display: flex;
 }

 .social-net {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 260px;
   margin: 0;
   padding: 0;
   list-style: none;
   text-align: left;
   color: #000000;
   background-color: #ffffff;
   margin-right: 140px;
 }

 .footer-text {
   width: 600px;
 }

 .write-us-item input {
   font: inherit;
 }

 .write-us-item:hover+label,
 .write-us-item:focus+label {
   color: #444444;
   background-color: #ffffff;
 }

 .filters {
   width: 260px;
   margin-right: 140px;
 }

 .catalog-columns {
   display: flex;
   width: 1160px;
   justify-content: space-between;
   padding: 0;
   margin: 0;

 }

 .catalog {
   width: 860px;
   padding: 0;
 }

 .catalog-item {
   width: 360px;
   margin-bottom: 33px;
   margin-right: 40px;
   position: relative;
 }

 .catalog-item:nth-child(2n) {
   margin-right: 0;
 }

 .catalog-list {
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   margin: 0;
   list-style: none;
   margin-bottom: -8px;
 }

 img {
   max-width: 100%;
   height: auto;
 }

 .map-img {
   width: 100%;
   height: 416px;
   object-fit: cover;
 }

 .write-us {
   width: 960px;
   padding-top: 73px;
   padding-left: 101px;
   padding-right: 100px;
   padding-bottom: 84px;
   box-sizing: border-box;
   box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
   margin: 0 auto;
   position: fixed;
   top: 20%;
   left: 50%;
   background: #ffffff;
   transform: translateX(-50%);
   display: none;
 }

 .write-us-form {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }

 .write-us-item {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
 }

 .write-us-item input:hover {
   color: #b4b9bb;
   border: solid 2px #b4b9bb;
 }

 .write-us-item input:focus {
   color: #444444;
   border: solid 2px #000000;
 }

 .write-us-item input:invalid {
   color: #e74246;
   border: solid 2px #e74246;
 }

 .write-us-item input,
 .write-us-item textarea {
   width: 360px;
   margin: 0;
   margin-bottom: 10px;
   margin-right: 40px;
   padding-top: 15px;
   padding-bottom: 18px;
   padding-left: 16px;
   padding-right: 10px;
   box-sizing: border-box;
   font-size: 16px;
   line-height: 18px;
   opacity: 0.5;
 }

 .name-email {
   display: flex;
   width: 760px;
   justify-content: space-between;
 }

 .write-us-item .letter {
   width: 760px;
   min-height: 118px;
 }

 .write-us-h2 {
   margin: 0;
   margin-bottom: 49px;

 }

 .social-button {
   display: flex;
   width: 79px;
   height: 79px;
   background-color: #e1e1e1;
   background-position: center;
   border-radius: 50%;
   background-repeat: no-repeat;
   position: relative;
 }

 .social-button:hover,
 .social-button:focus {
   background-color: #e74246;
 }

 .social-button:active {
   background-color: #d7373b;
 }

 .social-button:active::after {
   opacity: 0.3;
 }

 .social-button-vk::after {
   position: absolute;
   content: "";
   background-image: url("../img/vk-icon.svg");
   background-size: 26px 15px;
   width: 26px;
   height: 15px;
   left: 25px;
   top: 35px;
 }

 .social-button-fb::after {
   position: absolute;
   content: "";
   background-image: url("../img/fb-icon.svg");
   background-size: 12px 22px;
   width: 12px;
   height: 22px;
   left: 33px;
   top: 30px;
 }

 .social-button-inst::after {
   position: absolute;
   content: "";
   background-image: url("../img/insta-icon.svg");
   background-size: 21px 21px;
   width: 21px;
   height: 21px;
   left: 30px;
   top: 30px;
 }

 .filter-item {
   margin: 0;
   padding: 0;
   border: none;
   width: 260px;
   margin: 55px auto;
   ;
 }

 .range-filter {
   width: 260px;
   margin-top: 49px;
 }


 .range-controls {
   position: relative;
   height: 41px;
   margin-bottom: 15px;
   padding-top: 39px;
   padding-right: 20px;
   padding-left: 20px;
   background-color: #f1f1f1;
   border-radius: 5px;
 }

 .range-controls .scale {
   height: 2px;
   background: #d7dcde;
 }

 .range-controls .bar {
   width: 70%;
   height: 2px;
   background: #00ca74;
   margin-left: 8%;
   width: 59%;
 }

 .range-controls .toggle {
   position: absolute;
   top: 31px;
   left: 0;
   width: 4px;
   height: 4px;
   padding: 0;
   border: 8px solid #ffffff;
   background-color: #ababab;
   box-shadow: 0 2px 1px 0 #cfcfcf;
   border-radius: 50%;
   cursor: pointer;
 }

 .range-controls .toggle-min {
   left: 18px;
 }

 .range-controls .toggle-max {
   left: 158px;
 }

 .price-controls {
   font-size: 0;
 }

 .price-controls label {
   display: inline-block;
   width: 50%;
   font-size: 16px;
   text-transform: uppercase;
 }

 .price-controls input {
   width: 60px;
   padding: 8px 10px;
   margin-left: 10px;
   font-family: 'Roboto', Arial, sans-serif;
   font-size: 16px;
   text-align: center;
   color: #283136;
   border: none;
   border-radius: 5px;
   background: #f1f1f1;
 }

 .max-price {
   text-align: right;
 }

 .write-us-close {
   position: relative;
   border: 0;
   padding: 0;
   width: 0;
   font-size: 0;
 }

 .write-us-close::after {
   content: "";
   position: absolute;
   background-image: url("../img/close-cross.svg");
   background-repeat: no-repeat;
   width: 21px;
   height: 21px;
   top: -340px;
   left: 10px;
   background-position: 0 0;
   opacity: 0.3;
 }

 .write-us-close:hover::after {
   opacity: 1;
 }

 .write-us-close:active::after {
   opacity: 0.1;
 }

 .catalog-hover {
   display: flex;
   flex-direction: column;
   flex: wrap;
   overflow-y: scroll;
   align-items: center;
   width: 360px;
   height: 231px;
   background-color: #eeeeee;
   position: absolute;
   left: 0px;
   top: 345px;
   display: none;
 }


 .catalog-item:hover div {
   display: flex;
 }

 .hover-title {
   font-size: 18px;
   font-weight: bold;
   line-height: 30px;
   color: #000000;
   text-transform: uppercase;
   text-align: center;
   margin-top: 26px;
   margin-bottom: 0px;
   margin-left: 10px;
 }

 .hover-text {
   font-size: 16px;
   line-height: 18px;
   color: #666666;
   text-align: center;
   margin-bottom: 30px;
   width: 225px;
   margin-left: 15px;
 }

 .catalog-hover button {
   width: 200px;
   margin-left: 17px;
 }

 .catalog-item::before {
   content: "";
   position: absolute;
   background-image: url("../img/browser.svg");
   background-repeat: no-repeat;
   width: 360px;
   height: 40px;
   top: -40px;
   left: 0px;
   opacity: 0.12;
 }

 .catalog-item:hover::before,
 .catalog-item:active::before {
   opacity: 1;
 }

 .site-navigation-current {
   position: relative;
 }

 .site-navigation-current::after {
   content: "";

   position: absolute;
   right: 19px;
   bottom: 12px;
   left: 26px;
   height: 2px;
   background-color: #fb565a;
 }

 .servis-text {
   margin-bottom: 33px;
   margin-top: 18px;
 }

 .about-list {
   margin-top: 24px;
   padding-left: 35px
 }

 .about-list li {
   margin-bottom: 25px;
   list-style: none;
   position: relative;
 }

 .about-list-item::before {
   content: "";
   position: absolute;
   bottom: 11px;
   left: -35px;
   height: 2px;
   width: 25px;
   background-color: #fb565a;

 }

 .container-write-us {
   position: relative;
 }

 .write-us-button {
   width: 219px;
 }

 .write-us-show {
   display: block;
   animation: bounce 0.6s;
 }

 .service-inner::after {
   content: "";
   position: absolute;
   bottom: -5px;
   left: 18px;
   height: 2px;
   width: 1160px;
   background-color: #e1e1e1;
 }

 .about::after {
   content: "";
   position: absolute;
   bottom: 0px;
   left: 18px;
   height: 2px;
   width: 1160px;
   background-color: #e1e1e1;
 }

 .projects::after {
   content: "";
   position: absolute;
   bottom: -11px;
   left: 50px;
   height: 2px;
   width: 1160px;
   background-color: #e1e1e1;
 }

 @keyframes bounce {
   0% {
     transform: translate(-50%, -2000px);
   }

   70% {
     transform: translate(-50%, 30px);
   }

   90% {
     transform: translate(-50%, -10px);
   }

   100% {
     transform: translate(-50%, 0);
   }
 }
